.cart {
    width: 60vw; margin: auto ; display:flex; flex-direction:column; border:solid black 2px; justify-content:space-around;
    background-color: rgba(245, 242, 242, 0.658);
}

.content{
    padding: 10%;
}

.buttongroup{
    display: flex; justify-content: space-around;
}

@media (max-width: 1100px){
    .cart {
        width: 90vw; margin: 1%;padding: 5%;
    }

    .content{
        padding: 5%;
    }
}