section.stats {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.statscard {
    height: 220px;
    width: 325px;
    margin: 20px;
    padding: 1%;
    text-align: center;
    background-color: rgba(250, 232, 205, 0.89);
}

.statscard p {
    margin-top: 12%;
    font-size: 4em;
    font-weight: bold;
}

.buttongroup {
    display: flex;
    width: 200px;
    flex-direction: column;
}

section.stats h3 {
    font-size: 1.5em;
}

section.dashboard {
    width: 76%;
    height: 100vh;
}

section.profile {
    width: 22%;
    padding: 20px;
    background-color: rgba(245, 242, 242, 0.658);
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

#profilebutton {
    display: none;
}  

#dashboardbutton {
    display: none;
}



@media screen and (max-width: 1100px){
    section.profile {
       display: none;
       width: 100%;
       margin: 10%;
       flex-direction: column;
       padding-left: 8%;
    }

    section.stats {
        width: 100vw;
        padding: 20px;
    }
    #profilebutton {
        display: block;
        position: fixed; 
        top: 100px; 
        right: 10px; 
        z-index: 2;
        margin: 5%;
        background-image: url("../uploads/Content/Profileicon.png");
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 3px rgb(58, 31, 6);
        border-radius:  4px ;
        cursor: pointer;
    }

    #dashboardbutton {
        display: none;
        position: fixed; 
        top: 100px; 
        right: 10px; 
        z-index: 2;
        background-image: url("../uploads/Content/Dash.png");
        width: 100px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 3px rgb(58, 31, 6);
        border-radius:  4px ;
        cursor: pointer;
    }

    section.content {
        display: flex;
        justify-content: space-around;
    }

}