th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgba(245, 242, 242, 0.658);
}

.hideondesktop {
    display: none;
}   


@media (max-width: 1100px){
   
    .hideonmobile {
        display: none;
    }

    .hideondesktop {
        display: block;
    }
}

.expiry-soon {
    background-color: #ffcccc; /* Red color for rows with expiry date 4 days away */
}
