
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #BAA484;
    color: #000000;
    padding: 1.5%;
    text-align: center;

}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.sub-container {
    padding: 20px;
    margin-left: 40px;
    
}
.form-group {
    margin-bottom: 15px;
    width: 70%;
    text-align: center;
    align-items: center;
    margin-left:10% ;
    margin-right: 10%;
}
label {
    width: 100%;
    font-weight: bold;
}

select{
    width: 50%;
    padding: 10px;
    border: 1px solid #000000;
}

input, textarea{
    width: 100% !important;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.buttons {
    flex: 0 0 20%;
}

.button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #BAA484;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.buttonedit {  
    width: 100%;
    margin-bottom: 100px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

}
.button:hover {
    background-color: #ec9410;
}

#grid-item-js {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    
}

.formcontent .h4{
    font-weight: bold;
}

.navbar{
    width: 20%;
}

.content{
    width: 80%;
}

.navbutton{
    padding: 2% 40% 2% 40%; margin-top: 10%;background-color: #BAA484; text-decoration: none; color: black;
}
