<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Delivery Vehicle</title>
</head>
<body style="font-weight: 800">
    <h1 style="background-color: #BAA484; text-align: center; padding: 2%;">Add Delivery Vehicle</h1>
    <div style="display: flex;flex-direction: row;">
        <div style="width: 30%;text-align: center;">
            <a href="/admin" style="padding: 2% 40% 2% 40%; background-color: #BAA484; text-decoration: none; color: black;">Back</a>
        </div>

        <div style="width: 70%;">
            <form action="process_vehicle.php" method="POST" style="padding: 3%;">
                <label for="registrationnumber">Registration Number:</label><br>
                <input type="text" id="registrationnumber" name="registrationnumber" required><br><br>

                <label for="type">Type:</label><br>
                <input type="text" id="type" name="type" required><br><br>

                <label for="capacity">Capacity:</label><br>
                <input type="number" id="capacity" name="capacity" required><br><br>

                <label for="vehicleno">Vehicle No:</label><br>
                <input type="text" id="vehicleno" name="vehicleno" required><br><br>

                <label for="chassinumber">Chassis Number:</label><br>
                <input type="text" id="chassinumber" name="chassinumber" required><br><br>

                <label for="enginenumber">Engine Number:</label><br>
                <input type="text" id="enginenumber" name="enginenumber" required><br><br>

                <label for="modelname">Model Name:</label><br>
                <input type="text" id="modelname" name="modelname" required><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
