<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product Item</title>
</head>
<body style="font-weight: 800">
    <h1 style="background-color: #BAA484; text-align: center; padding: 2%;">Edit Product Item</h1>
    <div style="display: flex; flex-direction: row;">
        <div style="width: 30%; text-align: center;">
            <a href="/admin" style="padding: 2% 40% 2% 40%; background-color: #BAA484; text-decoration: none; color: black;">Back</a>
        </div>

        <div style="width: 70%;">
            <form action="process_productitem.php" method="POST" style="padding: 3%;">
                <label for="itemid">Item ID:</label><br>
                <input type="text" id="itemid" name="itemid" required><br><br>

                <label for="retailprice">Retail Price:</label><br>
                <input type="number" id="retailprice" name="retailprice" required><br><br>

                <label for="stockprice">Stock Price:</label><br>
                <input type="number" id="stockprice" name="stockprice" required><br><br>

                <label for="itemdescription">Item Description:</label><br>
                <textarea id="itemdescription" name="itemdescription" rows="4" required></textarea><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>
