
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #BAA484;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.sub-container {
    flex: 1;
    padding: 20px;
    margin-left: 60px;
    
}
.form-group {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
}
select, input[type="number"], input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}
/*Side bar buttons*/
.buttons {
    flex: 0 0 20%;
}
.button {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: #BAA484;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

.buttonedit {  
    display: block;
    width: 60%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 60px;
    background-color: #BAA484;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25%;

}
.button:hover {
    background-color: #BAA484;
}

#grid-item-js {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    
}

.formcontent .h4{
    font-weight: bold;
}

/*.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard-item {
    width: 30%;
    margin: 1%;
    text-align: center;
}*/

.image-container {
    display:flex;
}

.image {
    margin-top: 40%;
    margin-bottom: 10%;
    max-width: 200px;
    max-height: 200px;
    
}
.image1 {
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 100px;
    max-height: 100px;
    
}
/* Style the vertical navbar */
.navbar {
    background-color: #BAA484;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
}


.navbar ul {
    padding: 0;
}

.navbar li {
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}

.navbar a:hover {
    background-color: #897546;
}
/*dashboard text*/
.dashboard{
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 200px;
    margin-top: 30px;
}

table th {
    background-color: #bc9b72;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 10px;
}

table td[colspan="5"] {
    text-align: center;
    padding: 10px;
    color: #d9534f;
}

